<html>
    <head>
        <title>{{ title }} - Microblog</title>
    </head>
    <body>
        <h1>Hello, {{ user.msg }}!</h1>
        <h2>The max message #: {{ max_msg }}</h2>
        <h3>The averga time of the calls for the last 10 seconds is {{avg_time}} milliseconds</h3>
        <form action="/producer" method="post"  name = "tableForm">
            <label for="table">Message Number:</label>
            <br>
            <input type="number" name="num_calls">
            <input type="submit" value="Upload">
        </form>
    </body>
</html>