<!doctype html>
<html lang="en">
	<head>
		<title>Sentiment analysis</title>
	</head>
	<body>
		<form method=post enctype=multipart/form-data>
			<div class="container">
			<h1>Sentiment Analysis<h1>
				<h4>Please enter the text below: </h4>
				<textarea name="message" rows="4" cols="50"></textarea>
				<br/>
				<div style= "height:40px"></div>
				<!-- <h5>Select Hugging Face model: </h5> -->
				<!-- <select name="model_choice">
			  		<option>{{model_choice}}</option>
				</select> -->
				<!-- <div style= "height:50px"></div> -->
				<button class="btn btn-lg btn-primary btn-block" type="submit">Calculate Score</button>
				<div style= "height:100px"></div>
	</body>
</html>